.exam {
    margin: 2rem 0 5rem 0;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {

    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}